version: "3.9"

services:
  seq:
    image: datalust/seq:latest
    container_name: seq
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
      - "8082:80"
      - "5341:5341"
    networks:
      - shared-net

networks:
  shared-net:
    external: true
    name: shared-net
